.button {
  color: black;
  /* background: teal; */
  padding: 0.375rem 0.75rem;
  border: 1px solid teal;
  border-radius: 1rem;
  font-size: 2rem;
  line-height: 1.5;
  margin: 5px;
  margin-top: 10px;
}

.buttonClicked {
  background: teal;
}

.subButton {
  color: black;
  /* background: teal; */
  height: 70px;
  padding: 0.375rem 0.75rem;
  border: 1px solid teal;
  border-radius: 1rem;
  font-size: 2rem;
  line-height: 1.5;
  margin: 5px;
  margin-top: 200px;
}

.callServer {
  color: black;
  /* background: teal; */
  padding: 0.375rem 0.75rem;
  border: 1px solid teal;
  border-radius: 1rem;
  font-size: 2rem;
  line-height: 1.5;
  margin: 5px;
  margin-bottom: 40px;
  width: 100%;
}
